version: "3.9"

services:
  django:
    container_name: django
    build:
      dockerfile: compose/django/Dockerfile
      context: .

    ports:
      - "8000:8000"

    volumes:
      - .:/app

    environment:
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=proj_db
      - DB_HOST=postgres

    command: >
      sh -c "python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000"
    
    depends_on:
      - postgres


  postgres:
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=proj_db
    volumes:
      - local_postgres_data:/var/lib/postgresql/data

volumes:
  local_postgres_data:
